* {
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
}

.footer-box {
    padding: 10px;
}

.bg-footer {
    background-color: #eef3f8;
}

.card-img-top {
    height: 212px;
    margin-top: 7px;
}
